<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
	
	<div class="row text-center">
	    <div class="col-md-6 offset-md-3">
	        <div class="card">
	            <div class="card-body">
                    <div >
	                    <img src="../../assets/img/logo3.png" [width]="200">
	                </div>
	                <div class="login-title">
	                    <h4>Mot de Passe Oublier</h4>
	                </div>
	                <div class="login-form mt-4">
	                    <form [formGroup]="loginForm">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                              <input  id="email" name="Full Name" formControlName="email" placeholder="Email Address" class="form-control" type="text">
                            </div>
                      
                          </div>
                         <div class="form-row">
                       
                    </div>                        
                        
                        <div class="form-row">
                            <button type="button" (click)="envoyer()" class="btn btn-danger btn-block">Envoyer</button>
                        </div>
                    </form>
	                </div>
	              
	            </div>
	        </div>
	    </div>
	</div>
</div>